#drag-and-drop-plate-img {
    position: absolute;
    z-index: -1;
    height: 100%;
    left: 30%;
}

.plate-foods {
    position: absolute;
    height: 15%;
}

#plate-food-1 {
    top: 30%;
    left: 40%;
}

#plate-food-2 {
    top: 50%;
    left: 45%;
}