#go-back-to-home {
    position: absolute;
    left: 32%;
    top: 25%;
    height: auto;
    width: auto;
    overflow: hidden;
    box-sizing: border-box;
    
    
    #card {
        height: 25vh;
        width: 35vw;
        padding: 0 1vw 4vh 1vw;
        
        // #card-body {
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
        // }
        
        #button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

}