#form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin: 15vh auto 0 auto;
  height: 28%;
  width: 45%;

  #button-container {
    display: flex;
    justify-content: space-between;

    button {
      width: 13vw;
      margin: 0;
    }
  }
}
