#images {
  display: flex;
  flex-direction: column;
  overflow: scroll;

  h1 {
    text-align: center;
    font-size: 3rem;
  }

  div#menu {
    margin: 3vh auto 6vh auto;
    padding-left: 2vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: inline-block;
      cursor: pointer;
      align-self: flex-end;
      color: #101935;

      .icon {
        min-height: 3vw;
        min-width: 3vw;
      }
    }
  }
}
