#about {
    header {
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        height: 12rem;
        max-width: 12rem;

        @media screen and (max-height: 580px) {
            height: 10rem;
        }

        @media screen and (max-height: 500px) {
            height: 8rem;
        }

        @media screen and (max-height: 400px) {
            height: 6rem;
        }
    }

    main {

        margin-top: 4vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: 2rem;
        }
    }
}