#menu {
  header {
    display: grid;
    grid-template-rows: [row] 100%;
    grid-template-columns:
      [col1-start] 15% [col1-end h1-start] 70%
      [h1-end col2-start] 15% [col2-end];
    align-items: center;

    height: 25%;
    width: 100%;
    text-align: center;
    
    @media screen and (max-width: 400px) {
      height: 20%;
    }

    .icon {
      grid-row: row;
      grid-column: col1;
      margin: 0 auto;
    }

    h1 {
      grid-row: row;
      grid-column: h1;
      font-size: 5rem;

      @media screen and (max-width: 400px) {
        font-size: 4rem;
      }
    }
  }

  .main-height-student {
    height: 42%;

    @media screen and (max-width: 400px) {
      margin-top: 12%;
      height: 35%;
    }
    
  }

  .main-height-professor {
    height: 35%;
  }

  main {
    display: grid;
    grid-template-rows: [row] 100%;
    grid-template-columns:
      [col1-start] 30% [col1-end buttons-start] 40%
      [buttons-end col2-start] 30% [col2-end];
    align-items: center;
    margin-top: 5%;

    #buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 100%;

      grid-row: row;
      grid-column: buttons;

      button {
        width: 28vw;
        height: 3.5vw;
        color: #101935;
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
        border: 2px solid #101935;
        background-color: transparent;
        border-radius: 0.375rem;
        
        @media screen and (max-width: 500px) {
          width: 60vw;
          height: 7.5vw;
        }

        &:hover {
          background-color: #9bc972;
        }

        @media screen and (max-width: 400px) {
          font-size: 4.5vw;
        }

        @media screen and (max-width: 420px) {
          // font-size: 1.5vw;
        }
      }
    }

    .icon {
      grid-row: row;
      grid-column: col2;

      @media screen and (max-height: 1000px) {
        justify-self: end;
      }
    }
  }

  footer {
    height: 25%;
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-height: 600px) {
      height: 10%;
      align-items: flex-end;
    }
  }

  img {
    width: 5rem;
    height: 5rem;
  }
}
