#frame-11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    margin: 0 auto;
    padding-top: 5%;
    box-sizing: border-box;

    ul {
        flex-grow: 0.4;
    }
    
    div {
        flex-grow: 0.6;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .icon {
            width: 7rem;
            height: auto;
        }
    }
}